<div>
    <div class="row">
      <button
        class="button"
        aria-label="Increment value"
        (click)="increment()"
      >
        +
      </button>
      <span class=value>{{ count$ | async }}</span>
      <button
        class="button"
        aria-label="Decrement value"
        (click)="decrement()"
      >
        -
      </button>
    </div>
    <div class="row">
      <input
        class="textbox"
        aria-label="Set increment amount"
        value={incrementAmount}
      />
      <button
        class="button"
        (click)="incrementByAmount()"
      >
        Add Amount
      </button>
      <button
        class="asyncButton"
        (click)="incrementAsync()"
      >
        Add Async
      </button>
    </div>
  </div>



<button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>